@font-face {
	font-family: "saxi-icons-pro-twotone";
	src: url("saxi-icons-pro-twotone.eot?8f5d258d034f17b79801139d7c1a980b?#iefix") format("embedded-opentype"),
url("saxi-icons-pro-twotone.woff2?8f5d258d034f17b79801139d7c1a980b") format("woff2"),
url("saxi-icons-pro-twotone.woff?8f5d258d034f17b79801139d7c1a980b") format("woff"),
url("saxi-icons-pro-twotone.ttf?8f5d258d034f17b79801139d7c1a980b") format("truetype"),
url("saxi-icons-pro-twotone.svg?8f5d258d034f17b79801139d7c1a980b#saxi-icons-pro-twotone") format("svg");
}

.saxi-twotone {
	line-height: 1;
}

.saxi-twotone:before {
	font-family: saxi-icons-pro-twotone !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.saxi-twotone-24-support:before {
	content: "\e900";
}
.saxi-twotone-3d-cube-scan:before {
	content: "\e901";
}
.saxi-twotone-3d-rotate:before {
	content: "\e902";
}
.saxi-twotone-3d-square:before {
	content: "\e903";
}
.saxi-twotone-3dcube:before {
	content: "\e904";
}
.saxi-twotone-3square:before {
	content: "\e905";
}
.saxi-twotone-activity:before {
	content: "\e906";
}
.saxi-twotone-add-circle:before {
	content: "\e907";
}
.saxi-twotone-add-square:before {
	content: "\e908";
}
.saxi-twotone-add:before {
	content: "\e909";
}
.saxi-twotone-additem:before {
	content: "\e90a";
}
.saxi-twotone-airdrop:before {
	content: "\e90b";
}
.saxi-twotone-airplane-square:before {
	content: "\e90c";
}
.saxi-twotone-airplane:before {
	content: "\e90d";
}
.saxi-twotone-airpod:before {
	content: "\e90e";
}
.saxi-twotone-airpods:before {
	content: "\e90f";
}
.saxi-twotone-alarm:before {
	content: "\e910";
}
.saxi-twotone-align-bottom:before {
	content: "\e911";
}
.saxi-twotone-align-horizontally:before {
	content: "\e912";
}
.saxi-twotone-align-left:before {
	content: "\e913";
}
.saxi-twotone-align-right:before {
	content: "\e914";
}
.saxi-twotone-align-vertically:before {
	content: "\e915";
}
.saxi-twotone-aquarius:before {
	content: "\e916";
}
.saxi-twotone-archive-1:before {
	content: "\e917";
}
.saxi-twotone-archive-add:before {
	content: "\e918";
}
.saxi-twotone-archive-book:before {
	content: "\e919";
}
.saxi-twotone-archive-minus:before {
	content: "\e91a";
}
.saxi-twotone-archive-slash:before {
	content: "\e91b";
}
.saxi-twotone-archive-tick:before {
	content: "\e91c";
}
.saxi-twotone-archive:before {
	content: "\e91d";
}
.saxi-twotone-arrange-circle-2:before {
	content: "\e91e";
}
.saxi-twotone-arrange-circle:before {
	content: "\e91f";
}
.saxi-twotone-arrange-square-2:before {
	content: "\e920";
}
.saxi-twotone-arrange-square:before {
	content: "\e921";
}
.saxi-twotone-arrow-2:before {
	content: "\e922";
}
.saxi-twotone-arrow-3:before {
	content: "\e923";
}
.saxi-twotone-arrow-bottom:before {
	content: "\e924";
}
.saxi-twotone-arrow-circle-down:before {
	content: "\e925";
}
.saxi-twotone-arrow-circle-left:before {
	content: "\e926";
}
.saxi-twotone-arrow-circle-right:before {
	content: "\e927";
}
.saxi-twotone-arrow-down-1:before {
	content: "\e928";
}
.saxi-twotone-arrow-down-2:before {
	content: "\e929";
}
.saxi-twotone-arrow-down:before {
	content: "\e92a";
}
.saxi-twotone-arrow-left-1:before {
	content: "\e92b";
}
.saxi-twotone-arrow-left-2:before {
	content: "\e92c";
}
.saxi-twotone-arrow-left-3:before {
	content: "\e92d";
}
.saxi-twotone-arrow-left:before {
	content: "\e92e";
}
.saxi-twotone-arrow-right-1:before {
	content: "\e92f";
}
.saxi-twotone-arrow-right-2:before {
	content: "\e930";
}
.saxi-twotone-arrow-right-3:before {
	content: "\e931";
}
.saxi-twotone-arrow-right:before {
	content: "\e932";
}
.saxi-twotone-arrow-square-down:before {
	content: "\e933";
}
.saxi-twotone-arrow-square-left:before {
	content: "\e934";
}
.saxi-twotone-arrow-square-right:before {
	content: "\e935";
}
.saxi-twotone-arrow-square-up:before {
	content: "\e936";
}
.saxi-twotone-arrow-square:before {
	content: "\e937";
}
.saxi-twotone-arrow-swap-horizontal:before {
	content: "\e938";
}
.saxi-twotone-arrow-up-1:before {
	content: "\e939";
}
.saxi-twotone-arrow-up-2:before {
	content: "\e93a";
}
.saxi-twotone-arrow-up-3:before {
	content: "\e93b";
}
.saxi-twotone-arrow-up:before {
	content: "\e93c";
}
.saxi-twotone-arrow:before {
	content: "\e93d";
}
.saxi-twotone-attach-circle:before {
	content: "\e93e";
}
.saxi-twotone-attach-square:before {
	content: "\e93f";
}
.saxi-twotone-audio-square:before {
	content: "\e940";
}
.saxi-twotone-autobrightness:before {
	content: "\e941";
}
.saxi-twotone-award:before {
	content: "\e942";
}
.saxi-twotone-back-square:before {
	content: "\e943";
}
.saxi-twotone-backward-10-seconds:before {
	content: "\e944";
}
.saxi-twotone-backward-15-seconds:before {
	content: "\e945";
}
.saxi-twotone-backward-5-seconds:before {
	content: "\e946";
}
.saxi-twotone-backward-item:before {
	content: "\e947";
}
.saxi-twotone-backward:before {
	content: "\e948";
}
.saxi-twotone-bag-2:before {
	content: "\e949";
}
.saxi-twotone-bag-cross-1:before {
	content: "\e94a";
}
.saxi-twotone-bag-cross:before {
	content: "\e94b";
}
.saxi-twotone-bag-happy:before {
	content: "\e94c";
}
.saxi-twotone-bag-tick-2:before {
	content: "\e94d";
}
.saxi-twotone-bag-tick:before {
	content: "\e94e";
}
.saxi-twotone-bag-timer:before {
	content: "\e94f";
}
.saxi-twotone-bag:before {
	content: "\e950";
}
.saxi-twotone-bank:before {
	content: "\e951";
}
.saxi-twotone-barcode:before {
	content: "\e952";
}
.saxi-twotone-battery-3full:before {
	content: "\e953";
}
.saxi-twotone-battery-charging:before {
	content: "\e954";
}
.saxi-twotone-battery-disable:before {
	content: "\e955";
}
.saxi-twotone-battery-empty-1:before {
	content: "\e956";
}
.saxi-twotone-battery-empty:before {
	content: "\e957";
}
.saxi-twotone-battery-full:before {
	content: "\e958";
}
.saxi-twotone-bezier:before {
	content: "\e959";
}
.saxi-twotone-bill:before {
	content: "\e95a";
}
.saxi-twotone-bitcoin-card:before {
	content: "\e95b";
}
.saxi-twotone-bitcoin-convert:before {
	content: "\e95c";
}
.saxi-twotone-bitcoin-refresh:before {
	content: "\e95d";
}
.saxi-twotone-blend-2:before {
	content: "\e95e";
}
.saxi-twotone-blend:before {
	content: "\e95f";
}
.saxi-twotone-bluetooth-2:before {
	content: "\e960";
}
.saxi-twotone-bluetooth-circle:before {
	content: "\e961";
}
.saxi-twotone-bluetooth-rectangle:before {
	content: "\e962";
}
.saxi-twotone-bluetooth:before {
	content: "\e963";
}
.saxi-twotone-blur:before {
	content: "\e964";
}
.saxi-twotone-book-1:before {
	content: "\e965";
}
.saxi-twotone-book-saved:before {
	content: "\e966";
}
.saxi-twotone-book-square:before {
	content: "\e967";
}
.saxi-twotone-book:before {
	content: "\e968";
}
.saxi-twotone-bookmark-2:before {
	content: "\e969";
}
.saxi-twotone-bookmark:before {
	content: "\e96a";
}
.saxi-twotone-box-1:before {
	content: "\e96b";
}
.saxi-twotone-box-2:before {
	content: "\e96c";
}
.saxi-twotone-box-add:before {
	content: "\e96d";
}
.saxi-twotone-box-remove:before {
	content: "\e96e";
}
.saxi-twotone-box-search:before {
	content: "\e96f";
}
.saxi-twotone-box-tick:before {
	content: "\e970";
}
.saxi-twotone-box-time:before {
	content: "\e971";
}
.saxi-twotone-box:before {
	content: "\e972";
}
.saxi-twotone-briefcase:before {
	content: "\e973";
}
.saxi-twotone-brifecase-cross:before {
	content: "\e974";
}
.saxi-twotone-brifecase-tick:before {
	content: "\e975";
}
.saxi-twotone-brifecase-timer:before {
	content: "\e976";
}
.saxi-twotone-broom:before {
	content: "\e977";
}
.saxi-twotone-brush-1:before {
	content: "\e978";
}
.saxi-twotone-brush-2:before {
	content: "\e979";
}
.saxi-twotone-brush-3:before {
	content: "\e97a";
}
.saxi-twotone-brush-4:before {
	content: "\e97b";
}
.saxi-twotone-brush:before {
	content: "\e97c";
}
.saxi-twotone-bubble:before {
	content: "\e97d";
}
.saxi-twotone-bucket-circle:before {
	content: "\e97e";
}
.saxi-twotone-bucket-square:before {
	content: "\e97f";
}
.saxi-twotone-bucket:before {
	content: "\e980";
}
.saxi-twotone-building-3:before {
	content: "\e981";
}
.saxi-twotone-building-4:before {
	content: "\e982";
}
.saxi-twotone-building:before {
	content: "\e983";
}
.saxi-twotone-buildings-2:before {
	content: "\e984";
}
.saxi-twotone-buildings:before {
	content: "\e985";
}
.saxi-twotone-buliding:before {
	content: "\e986";
}
.saxi-twotone-bus:before {
	content: "\e987";
}
.saxi-twotone-buy-crypto:before {
	content: "\e988";
}
.saxi-twotone-cake:before {
	content: "\e989";
}
.saxi-twotone-calculator:before {
	content: "\e98a";
}
.saxi-twotone-calendar-1:before {
	content: "\e98b";
}
.saxi-twotone-calendar-2:before {
	content: "\e98c";
}
.saxi-twotone-calendar-add:before {
	content: "\e98d";
}
.saxi-twotone-calendar-circle:before {
	content: "\e98e";
}
.saxi-twotone-calendar-edit:before {
	content: "\e98f";
}
.saxi-twotone-calendar-remove:before {
	content: "\e990";
}
.saxi-twotone-calendar-search:before {
	content: "\e991";
}
.saxi-twotone-calendar-tick:before {
	content: "\e992";
}
.saxi-twotone-calendar:before {
	content: "\e993";
}
.saxi-twotone-call-add:before {
	content: "\e994";
}
.saxi-twotone-call-calling:before {
	content: "\e995";
}
.saxi-twotone-call-incoming:before {
	content: "\e996";
}
.saxi-twotone-call-minus:before {
	content: "\e997";
}
.saxi-twotone-call-outgoing:before {
	content: "\e998";
}
.saxi-twotone-call-received:before {
	content: "\e999";
}
.saxi-twotone-call-remove:before {
	content: "\e99a";
}
.saxi-twotone-call-slash:before {
	content: "\e99b";
}
.saxi-twotone-call:before {
	content: "\e99c";
}
.saxi-twotone-camera-slash:before {
	content: "\e99d";
}
.saxi-twotone-camera:before {
	content: "\e99e";
}
.saxi-twotone-candle-2:before {
	content: "\e99f";
}
.saxi-twotone-candle:before {
	content: "\e9a0";
}
.saxi-twotone-car:before {
	content: "\e9a1";
}
.saxi-twotone-card-add:before {
	content: "\e9a2";
}
.saxi-twotone-card-coin:before {
	content: "\e9a3";
}
.saxi-twotone-card-edit:before {
	content: "\e9a4";
}
.saxi-twotone-card-pos:before {
	content: "\e9a5";
}
.saxi-twotone-card-receive:before {
	content: "\e9a6";
}
.saxi-twotone-card-remove-1:before {
	content: "\e9a7";
}
.saxi-twotone-card-remove:before {
	content: "\e9a8";
}
.saxi-twotone-card-send:before {
	content: "\e9a9";
}
.saxi-twotone-card-slash:before {
	content: "\e9aa";
}
.saxi-twotone-card-tick-1:before {
	content: "\e9ab";
}
.saxi-twotone-card-tick:before {
	content: "\e9ac";
}
.saxi-twotone-card:before {
	content: "\e9ad";
}
.saxi-twotone-cards:before {
	content: "\e9ae";
}
.saxi-twotone-category-2:before {
	content: "\e9af";
}
.saxi-twotone-category:before {
	content: "\e9b0";
}
.saxi-twotone-cd:before {
	content: "\e9b1";
}
.saxi-twotone-chart-1:before {
	content: "\e9b2";
}
.saxi-twotone-chart-2:before {
	content: "\e9b3";
}
.saxi-twotone-chart-21:before {
	content: "\e9b4";
}
.saxi-twotone-chart-3:before {
	content: "\e9b5";
}
.saxi-twotone-chart-square:before {
	content: "\e9b6";
}
.saxi-twotone-chart-success:before {
	content: "\e9b7";
}
.saxi-twotone-chart:before {
	content: "\e9b8";
}
.saxi-twotone-check:before {
	content: "\e9b9";
}
.saxi-twotone-chrome:before {
	content: "\e9ba";
}
.saxi-twotone-clipboard-close:before {
	content: "\e9bb";
}
.saxi-twotone-clipboard-export:before {
	content: "\e9bc";
}
.saxi-twotone-clipboard-import:before {
	content: "\e9bd";
}
.saxi-twotone-clipboard-text:before {
	content: "\e9be";
}
.saxi-twotone-clipboard-tick:before {
	content: "\e9bf";
}
.saxi-twotone-clipboard:before {
	content: "\e9c0";
}
.saxi-twotone-clock-1:before {
	content: "\e9c1";
}
.saxi-twotone-clock:before {
	content: "\e9c2";
}
.saxi-twotone-close-circle:before {
	content: "\e9c3";
}
.saxi-twotone-close-square:before {
	content: "\e9c4";
}
.saxi-twotone-cloud-add:before {
	content: "\e9c5";
}
.saxi-twotone-cloud-change:before {
	content: "\e9c6";
}
.saxi-twotone-cloud-connection:before {
	content: "\e9c7";
}
.saxi-twotone-cloud-cross:before {
	content: "\e9c8";
}
.saxi-twotone-cloud-drizzle:before {
	content: "\e9c9";
}
.saxi-twotone-cloud-fog:before {
	content: "\e9ca";
}
.saxi-twotone-cloud-lightning:before {
	content: "\e9cb";
}
.saxi-twotone-cloud-minus:before {
	content: "\e9cc";
}
.saxi-twotone-cloud-notif:before {
	content: "\e9cd";
}
.saxi-twotone-cloud-plus:before {
	content: "\e9ce";
}
.saxi-twotone-cloud-remove:before {
	content: "\e9cf";
}
.saxi-twotone-cloud-snow:before {
	content: "\e9d0";
}
.saxi-twotone-cloud-sunny:before {
	content: "\e9d1";
}
.saxi-twotone-cloud:before {
	content: "\e9d2";
}
.saxi-twotone-code-1:before {
	content: "\e9d3";
}
.saxi-twotone-code-circle:before {
	content: "\e9d4";
}
.saxi-twotone-code:before {
	content: "\e9d5";
}
.saxi-twotone-coffee:before {
	content: "\e9d6";
}
.saxi-twotone-coin-1:before {
	content: "\e9d7";
}
.saxi-twotone-coin:before {
	content: "\e9d8";
}
.saxi-twotone-color-swatch:before {
	content: "\e9d9";
}
.saxi-twotone-colorfilter:before {
	content: "\e9da";
}
.saxi-twotone-colors-square:before {
	content: "\e9db";
}
.saxi-twotone-command-square:before {
	content: "\e9dc";
}
.saxi-twotone-command:before {
	content: "\e9dd";
}
.saxi-twotone-component:before {
	content: "\e9de";
}
.saxi-twotone-computing:before {
	content: "\e9df";
}
.saxi-twotone-convert-3d-cube:before {
	content: "\e9e0";
}
.saxi-twotone-convert-card:before {
	content: "\e9e1";
}
.saxi-twotone-convert:before {
	content: "\e9e2";
}
.saxi-twotone-convertshape-2:before {
	content: "\e9e3";
}
.saxi-twotone-convertshape:before {
	content: "\e9e4";
}
.saxi-twotone-copy-success:before {
	content: "\e9e5";
}
.saxi-twotone-copy:before {
	content: "\e9e6";
}
.saxi-twotone-copyright:before {
	content: "\e9e7";
}
.saxi-twotone-courthouse:before {
	content: "\e9e8";
}
.saxi-twotone-cpu-charge:before {
	content: "\e9e9";
}
.saxi-twotone-cpu-setting:before {
	content: "\e9ea";
}
.saxi-twotone-cpu:before {
	content: "\e9eb";
}
.saxi-twotone-creative-commons:before {
	content: "\e9ec";
}
.saxi-twotone-crop:before {
	content: "\e9ed";
}
.saxi-twotone-crown-1:before {
	content: "\e9ee";
}
.saxi-twotone-crown:before {
	content: "\e9ef";
}
.saxi-twotone-cup:before {
	content: "\e9f0";
}
.saxi-twotone-danger:before {
	content: "\e9f1";
}
.saxi-twotone-data-2:before {
	content: "\e9f2";
}
.saxi-twotone-data:before {
	content: "\e9f3";
}
.saxi-twotone-designtools:before {
	content: "\e9f4";
}
.saxi-twotone-device-message:before {
	content: "\e9f5";
}
.saxi-twotone-devices:before {
	content: "\e9f6";
}
.saxi-twotone-diagram:before {
	content: "\e9f7";
}
.saxi-twotone-diamonds:before {
	content: "\e9f8";
}
.saxi-twotone-direct-down:before {
	content: "\e9f9";
}
.saxi-twotone-direct-inbox:before {
	content: "\e9fa";
}
.saxi-twotone-direct-left:before {
	content: "\e9fb";
}
.saxi-twotone-direct-normal:before {
	content: "\e9fc";
}
.saxi-twotone-direct-notification:before {
	content: "\e9fd";
}
.saxi-twotone-direct-right:before {
	content: "\e9fe";
}
.saxi-twotone-direct-send:before {
	content: "\e9ff";
}
.saxi-twotone-direct-up:before {
	content: "\ea00";
}
.saxi-twotone-direct:before {
	content: "\ea01";
}
.saxi-twotone-directbox-default:before {
	content: "\ea02";
}
.saxi-twotone-directbox-notif:before {
	content: "\ea03";
}
.saxi-twotone-directbox-receive:before {
	content: "\ea04";
}
.saxi-twotone-directbox-send:before {
	content: "\ea05";
}
.saxi-twotone-discount-circle:before {
	content: "\ea06";
}
.saxi-twotone-discount-shape:before {
	content: "\ea07";
}
.saxi-twotone-discover:before {
	content: "\ea08";
}
.saxi-twotone-dislike:before {
	content: "\ea09";
}
.saxi-twotone-document-1:before {
	content: "\ea0a";
}
.saxi-twotone-document-cloud:before {
	content: "\ea0b";
}
.saxi-twotone-document-code-2:before {
	content: "\ea0c";
}
.saxi-twotone-document-code:before {
	content: "\ea0d";
}
.saxi-twotone-document-copy:before {
	content: "\ea0e";
}
.saxi-twotone-document-download:before {
	content: "\ea0f";
}
.saxi-twotone-document-favorite:before {
	content: "\ea10";
}
.saxi-twotone-document-filter:before {
	content: "\ea11";
}
.saxi-twotone-document-forward:before {
	content: "\ea12";
}
.saxi-twotone-document-like:before {
	content: "\ea13";
}
.saxi-twotone-document-previous:before {
	content: "\ea14";
}
.saxi-twotone-document-sketch:before {
	content: "\ea15";
}
.saxi-twotone-document-text-1:before {
	content: "\ea16";
}
.saxi-twotone-document-text:before {
	content: "\ea17";
}
.saxi-twotone-document-upload:before {
	content: "\ea18";
}
.saxi-twotone-document:before {
	content: "\ea19";
}
.saxi-twotone-dollar-circle:before {
	content: "\ea1a";
}
.saxi-twotone-dollar-square:before {
	content: "\ea1b";
}
.saxi-twotone-driver-2:before {
	content: "\ea1c";
}
.saxi-twotone-driver-refresh:before {
	content: "\ea1d";
}
.saxi-twotone-driver:before {
	content: "\ea1e";
}
.saxi-twotone-driving:before {
	content: "\ea1f";
}
.saxi-twotone-drop:before {
	content: "\ea20";
}
.saxi-twotone-edit-2:before {
	content: "\ea21";
}
.saxi-twotone-edit:before {
	content: "\ea22";
}
.saxi-twotone-electricity:before {
	content: "\ea23";
}
.saxi-twotone-element-1:before {
	content: "\ea24";
}
.saxi-twotone-element-2:before {
	content: "\ea25";
}
.saxi-twotone-element-3:before {
	content: "\ea26";
}
.saxi-twotone-element-4:before {
	content: "\ea27";
}
.saxi-twotone-element-equal:before {
	content: "\ea28";
}
.saxi-twotone-element-plus:before {
	content: "\ea29";
}
.saxi-twotone-emoji-happy:before {
	content: "\ea2a";
}
.saxi-twotone-emoji-normal:before {
	content: "\ea2b";
}
.saxi-twotone-emoji-sad:before {
	content: "\ea2c";
}
.saxi-twotone-empty-wallet-add:before {
	content: "\ea2d";
}
.saxi-twotone-empty-wallet-remove:before {
	content: "\ea2e";
}
.saxi-twotone-empty-wallet-tick:before {
	content: "\ea2f";
}
.saxi-twotone-empty-wallet:before {
	content: "\ea30";
}
.saxi-twotone-eraser-1:before {
	content: "\ea31";
}
.saxi-twotone-eraser:before {
	content: "\ea32";
}
.saxi-twotone-export-1:before {
	content: "\ea33";
}
.saxi-twotone-export-2:before {
	content: "\ea34";
}
.saxi-twotone-export-3:before {
	content: "\ea35";
}
.saxi-twotone-export:before {
	content: "\ea36";
}
.saxi-twotone-external-drive:before {
	content: "\ea37";
}
.saxi-twotone-eye-slash:before {
	content: "\ea38";
}
.saxi-twotone-eye:before {
	content: "\ea39";
}
.saxi-twotone-fatrows:before {
	content: "\ea3a";
}
.saxi-twotone-favorite-chart:before {
	content: "\ea3b";
}
.saxi-twotone-filter-add:before {
	content: "\ea3c";
}
.saxi-twotone-filter-edit:before {
	content: "\ea3d";
}
.saxi-twotone-filter-remove:before {
	content: "\ea3e";
}
.saxi-twotone-filter-search:before {
	content: "\ea3f";
}
.saxi-twotone-filter-square:before {
	content: "\ea40";
}
.saxi-twotone-filter-tick:before {
	content: "\ea41";
}
.saxi-twotone-filter:before {
	content: "\ea42";
}
.saxi-twotone-finger-cricle:before {
	content: "\ea43";
}
.saxi-twotone-finger-scan:before {
	content: "\ea44";
}
.saxi-twotone-firstline:before {
	content: "\ea45";
}
.saxi-twotone-flag-2:before {
	content: "\ea46";
}
.saxi-twotone-flag:before {
	content: "\ea47";
}
.saxi-twotone-flash-1:before {
	content: "\ea48";
}
.saxi-twotone-flash-circle-1:before {
	content: "\ea49";
}
.saxi-twotone-flash-circle:before {
	content: "\ea4a";
}
.saxi-twotone-flash-slash:before {
	content: "\ea4b";
}
.saxi-twotone-flash:before {
	content: "\ea4c";
}
.saxi-twotone-folder-2:before {
	content: "\ea4d";
}
.saxi-twotone-folder-add:before {
	content: "\ea4e";
}
.saxi-twotone-folder-cloud:before {
	content: "\ea4f";
}
.saxi-twotone-folder-connection:before {
	content: "\ea50";
}
.saxi-twotone-folder-cross:before {
	content: "\ea51";
}
.saxi-twotone-folder-favorite:before {
	content: "\ea52";
}
.saxi-twotone-folder-minus:before {
	content: "\ea53";
}
.saxi-twotone-folder-open:before {
	content: "\ea54";
}
.saxi-twotone-folder:before {
	content: "\ea55";
}
.saxi-twotone-forbidden-2:before {
	content: "\ea56";
}
.saxi-twotone-forbidden:before {
	content: "\ea57";
}
.saxi-twotone-format-circle:before {
	content: "\ea58";
}
.saxi-twotone-format-square:before {
	content: "\ea59";
}
.saxi-twotone-forward-10-seconds:before {
	content: "\ea5a";
}
.saxi-twotone-forward-15-seconds:before {
	content: "\ea5b";
}
.saxi-twotone-forward-5-seconds:before {
	content: "\ea5c";
}
.saxi-twotone-forward-item:before {
	content: "\ea5d";
}
.saxi-twotone-forward-square:before {
	content: "\ea5e";
}
.saxi-twotone-forward:before {
	content: "\ea5f";
}
.saxi-twotone-frame-1:before {
	content: "\ea60";
}
.saxi-twotone-frame-2:before {
	content: "\ea61";
}
.saxi-twotone-frame-3:before {
	content: "\ea62";
}
.saxi-twotone-frame-4:before {
	content: "\ea63";
}
.saxi-twotone-frame-5:before {
	content: "\ea64";
}
.saxi-twotone-frame:before {
	content: "\ea65";
}
.saxi-twotone-gallery-add:before {
	content: "\ea66";
}
.saxi-twotone-gallery-edit:before {
	content: "\ea67";
}
.saxi-twotone-gallery-export:before {
	content: "\ea68";
}
.saxi-twotone-gallery-favorite:before {
	content: "\ea69";
}
.saxi-twotone-gallery-import:before {
	content: "\ea6a";
}
.saxi-twotone-gallery-remove:before {
	content: "\ea6b";
}
.saxi-twotone-gallery-slash:before {
	content: "\ea6c";
}
.saxi-twotone-gallery-tick:before {
	content: "\ea6d";
}
.saxi-twotone-gallery:before {
	content: "\ea6e";
}
.saxi-twotone-game:before {
	content: "\ea6f";
}
.saxi-twotone-gameboy:before {
	content: "\ea70";
}
.saxi-twotone-gemini-2:before {
	content: "\ea71";
}
.saxi-twotone-gemini:before {
	content: "\ea72";
}
.saxi-twotone-ghost:before {
	content: "\ea73";
}
.saxi-twotone-gift:before {
	content: "\ea74";
}
.saxi-twotone-glass-1:before {
	content: "\ea75";
}
.saxi-twotone-glass:before {
	content: "\ea76";
}
.saxi-twotone-global-edit:before {
	content: "\ea77";
}
.saxi-twotone-global-refresh:before {
	content: "\ea78";
}
.saxi-twotone-global-search:before {
	content: "\ea79";
}
.saxi-twotone-global:before {
	content: "\ea7a";
}
.saxi-twotone-gps-slash:before {
	content: "\ea7b";
}
.saxi-twotone-gps:before {
	content: "\ea7c";
}
.saxi-twotone-grammerly:before {
	content: "\ea7d";
}
.saxi-twotone-graph:before {
	content: "\ea7e";
}
.saxi-twotone-grid-1:before {
	content: "\ea7f";
}
.saxi-twotone-grid-2:before {
	content: "\ea80";
}
.saxi-twotone-grid-3:before {
	content: "\ea81";
}
.saxi-twotone-grid-4:before {
	content: "\ea82";
}
.saxi-twotone-grid-5:before {
	content: "\ea83";
}
.saxi-twotone-grid-6:before {
	content: "\ea84";
}
.saxi-twotone-grid-7:before {
	content: "\ea85";
}
.saxi-twotone-grid-8:before {
	content: "\ea86";
}
.saxi-twotone-grid-9:before {
	content: "\ea87";
}
.saxi-twotone-grid-edit:before {
	content: "\ea88";
}
.saxi-twotone-grid-eraser:before {
	content: "\ea89";
}
.saxi-twotone-grid-lock:before {
	content: "\ea8a";
}
.saxi-twotone-happyemoji:before {
	content: "\ea8b";
}
.saxi-twotone-hashtag-1:before {
	content: "\ea8c";
}
.saxi-twotone-hashtag-down:before {
	content: "\ea8d";
}
.saxi-twotone-hashtag-up:before {
	content: "\ea8e";
}
.saxi-twotone-hashtag:before {
	content: "\ea8f";
}
.saxi-twotone-headphone:before {
	content: "\ea90";
}
.saxi-twotone-headphones:before {
	content: "\ea91";
}
.saxi-twotone-health:before {
	content: "\ea92";
}
.saxi-twotone-heart-add:before {
	content: "\ea93";
}
.saxi-twotone-heart-circle:before {
	content: "\ea94";
}
.saxi-twotone-heart-edit:before {
	content: "\ea95";
}
.saxi-twotone-heart-remove:before {
	content: "\ea96";
}
.saxi-twotone-heart-search:before {
	content: "\ea97";
}
.saxi-twotone-heart-slash:before {
	content: "\ea98";
}
.saxi-twotone-heart-tick:before {
	content: "\ea99";
}
.saxi-twotone-heart:before {
	content: "\ea9a";
}
.saxi-twotone-hierarchy-2:before {
	content: "\ea9b";
}
.saxi-twotone-hierarchy-3:before {
	content: "\ea9c";
}
.saxi-twotone-hierarchy-square-2:before {
	content: "\ea9d";
}
.saxi-twotone-hierarchy-square-3:before {
	content: "\ea9e";
}
.saxi-twotone-hierarchy-square:before {
	content: "\ea9f";
}
.saxi-twotone-hierarchy:before {
	content: "\eaa0";
}
.saxi-twotone-home-1:before {
	content: "\eaa1";
}
.saxi-twotone-home-2:before {
	content: "\eaa2";
}
.saxi-twotone-home-hashtag:before {
	content: "\eaa3";
}
.saxi-twotone-home-trend-down:before {
	content: "\eaa4";
}
.saxi-twotone-home-trend-up:before {
	content: "\eaa5";
}
.saxi-twotone-home-wifi:before {
	content: "\eaa6";
}
.saxi-twotone-home:before {
	content: "\eaa7";
}
.saxi-twotone-hospital:before {
	content: "\eaa8";
}
.saxi-twotone-house-2:before {
	content: "\eaa9";
}
.saxi-twotone-house:before {
	content: "\eaaa";
}
.saxi-twotone-icon-1:before {
	content: "\eaab";
}
.saxi-twotone-icon-2:before {
	content: "\eaac";
}
.saxi-twotone-icon-3:before {
	content: "\eaad";
}
.saxi-twotone-icon:before {
	content: "\eaae";
}
.saxi-twotone-image:before {
	content: "\eaaf";
}
.saxi-twotone-import-1:before {
	content: "\eab0";
}
.saxi-twotone-import-2:before {
	content: "\eab1";
}
.saxi-twotone-import:before {
	content: "\eab2";
}
.saxi-twotone-info-circle:before {
	content: "\eab3";
}
.saxi-twotone-information:before {
	content: "\eab4";
}
.saxi-twotone-instagram:before {
	content: "\eab5";
}
.saxi-twotone-judge:before {
	content: "\eab6";
}
.saxi-twotone-kanban:before {
	content: "\eab7";
}
.saxi-twotone-key-square:before {
	content: "\eab8";
}
.saxi-twotone-key:before {
	content: "\eab9";
}
.saxi-twotone-keyboard-open:before {
	content: "\eaba";
}
.saxi-twotone-keyboard:before {
	content: "\eabb";
}
.saxi-twotone-lamp-1:before {
	content: "\eabc";
}
.saxi-twotone-lamp-charge:before {
	content: "\eabd";
}
.saxi-twotone-lamp-on:before {
	content: "\eabe";
}
.saxi-twotone-lamp-slash:before {
	content: "\eabf";
}
.saxi-twotone-lamp:before {
	content: "\eac0";
}
.saxi-twotone-language-circle:before {
	content: "\eac1";
}
.saxi-twotone-language-square:before {
	content: "\eac2";
}
.saxi-twotone-layer:before {
	content: "\eac3";
}
.saxi-twotone-level:before {
	content: "\eac4";
}
.saxi-twotone-lifebuoy:before {
	content: "\eac5";
}
.saxi-twotone-like-1:before {
	content: "\eac6";
}
.saxi-twotone-like-dislike:before {
	content: "\eac7";
}
.saxi-twotone-like-shapes:before {
	content: "\eac8";
}
.saxi-twotone-like-tag:before {
	content: "\eac9";
}
.saxi-twotone-like:before {
	content: "\eaca";
}
.saxi-twotone-link-1:before {
	content: "\eacb";
}
.saxi-twotone-link-2:before {
	content: "\eacc";
}
.saxi-twotone-link-21:before {
	content: "\eacd";
}
.saxi-twotone-link-circle:before {
	content: "\eace";
}
.saxi-twotone-link-square:before {
	content: "\eacf";
}
.saxi-twotone-link:before {
	content: "\ead0";
}
.saxi-twotone-location-add:before {
	content: "\ead1";
}
.saxi-twotone-location-cross:before {
	content: "\ead2";
}
.saxi-twotone-location-minus:before {
	content: "\ead3";
}
.saxi-twotone-location-slash:before {
	content: "\ead4";
}
.saxi-twotone-location-tick:before {
	content: "\ead5";
}
.saxi-twotone-location:before {
	content: "\ead6";
}
.saxi-twotone-lock-1:before {
	content: "\ead7";
}
.saxi-twotone-lock-circle:before {
	content: "\ead8";
}
.saxi-twotone-lock-slash:before {
	content: "\ead9";
}
.saxi-twotone-lock:before {
	content: "\eada";
}
.saxi-twotone-login-1:before {
	content: "\eadb";
}
.saxi-twotone-login:before {
	content: "\eadc";
}
.saxi-twotone-logout-1:before {
	content: "\eadd";
}
.saxi-twotone-logout:before {
	content: "\eade";
}
.saxi-twotone-lovely:before {
	content: "\eadf";
}
.saxi-twotone-magic-star:before {
	content: "\eae0";
}
.saxi-twotone-magicpen:before {
	content: "\eae1";
}
.saxi-twotone-main-component:before {
	content: "\eae2";
}
.saxi-twotone-man:before {
	content: "\eae3";
}
.saxi-twotone-map-1:before {
	content: "\eae4";
}
.saxi-twotone-map:before {
	content: "\eae5";
}
.saxi-twotone-mask-1:before {
	content: "\eae6";
}
.saxi-twotone-mask-2:before {
	content: "\eae7";
}
.saxi-twotone-mask:before {
	content: "\eae8";
}
.saxi-twotone-math:before {
	content: "\eae9";
}
.saxi-twotone-maximize-1:before {
	content: "\eaea";
}
.saxi-twotone-maximize-2:before {
	content: "\eaeb";
}
.saxi-twotone-maximize-21:before {
	content: "\eaec";
}
.saxi-twotone-maximize-3:before {
	content: "\eaed";
}
.saxi-twotone-maximize-4:before {
	content: "\eaee";
}
.saxi-twotone-maximize-circle:before {
	content: "\eaef";
}
.saxi-twotone-maximize:before {
	content: "\eaf0";
}
.saxi-twotone-medal-star:before {
	content: "\eaf1";
}
.saxi-twotone-medal:before {
	content: "\eaf2";
}
.saxi-twotone-menu-1:before {
	content: "\eaf3";
}
.saxi-twotone-menu-board:before {
	content: "\eaf4";
}
.saxi-twotone-menu:before {
	content: "\eaf5";
}
.saxi-twotone-message-2:before {
	content: "\eaf6";
}
.saxi-twotone-message-add-1:before {
	content: "\eaf7";
}
.saxi-twotone-message-add:before {
	content: "\eaf8";
}
.saxi-twotone-message-circle:before {
	content: "\eaf9";
}
.saxi-twotone-message-edit:before {
	content: "\eafa";
}
.saxi-twotone-message-favorite:before {
	content: "\eafb";
}
.saxi-twotone-message-minus:before {
	content: "\eafc";
}
.saxi-twotone-message-notif:before {
	content: "\eafd";
}
.saxi-twotone-message-programming:before {
	content: "\eafe";
}
.saxi-twotone-message-question:before {
	content: "\eaff";
}
.saxi-twotone-message-remove:before {
	content: "\eb00";
}
.saxi-twotone-message-search:before {
	content: "\eb01";
}
.saxi-twotone-message-square:before {
	content: "\eb02";
}
.saxi-twotone-message-text-1:before {
	content: "\eb03";
}
.saxi-twotone-message-text:before {
	content: "\eb04";
}
.saxi-twotone-message-tick:before {
	content: "\eb05";
}
.saxi-twotone-message-time:before {
	content: "\eb06";
}
.saxi-twotone-message:before {
	content: "\eb07";
}
.saxi-twotone-messages-1:before {
	content: "\eb08";
}
.saxi-twotone-messages-2:before {
	content: "\eb09";
}
.saxi-twotone-messages-3:before {
	content: "\eb0a";
}
.saxi-twotone-messages:before {
	content: "\eb0b";
}
.saxi-twotone-microphone-2:before {
	content: "\eb0c";
}
.saxi-twotone-microphone-slash-1:before {
	content: "\eb0d";
}
.saxi-twotone-microphone-slash:before {
	content: "\eb0e";
}
.saxi-twotone-microphone:before {
	content: "\eb0f";
}
.saxi-twotone-microscope:before {
	content: "\eb10";
}
.saxi-twotone-milk:before {
	content: "\eb11";
}
.saxi-twotone-mini-music-sqaure:before {
	content: "\eb12";
}
.saxi-twotone-minus-cirlce:before {
	content: "\eb13";
}
.saxi-twotone-minus-square:before {
	content: "\eb14";
}
.saxi-twotone-minus:before {
	content: "\eb15";
}
.saxi-twotone-mirror:before {
	content: "\eb16";
}
.saxi-twotone-mirroring-screen:before {
	content: "\eb17";
}
.saxi-twotone-mobile-programming:before {
	content: "\eb18";
}
.saxi-twotone-mobile:before {
	content: "\eb19";
}
.saxi-twotone-money-2:before {
	content: "\eb1a";
}
.saxi-twotone-money-3:before {
	content: "\eb1b";
}
.saxi-twotone-money-4:before {
	content: "\eb1c";
}
.saxi-twotone-money-add:before {
	content: "\eb1d";
}
.saxi-twotone-money-change:before {
	content: "\eb1e";
}
.saxi-twotone-money-forbidden:before {
	content: "\eb1f";
}
.saxi-twotone-money-recive:before {
	content: "\eb20";
}
.saxi-twotone-money-remove:before {
	content: "\eb21";
}
.saxi-twotone-money-send:before {
	content: "\eb22";
}
.saxi-twotone-money-tick:before {
	content: "\eb23";
}
.saxi-twotone-money-time:before {
	content: "\eb24";
}
.saxi-twotone-money:before {
	content: "\eb25";
}
.saxi-twotone-moneys:before {
	content: "\eb26";
}
.saxi-twotone-monitor-mobbile:before {
	content: "\eb27";
}
.saxi-twotone-monitor-recorder:before {
	content: "\eb28";
}
.saxi-twotone-monitor:before {
	content: "\eb29";
}
.saxi-twotone-moon:before {
	content: "\eb2a";
}
.saxi-twotone-more-2:before {
	content: "\eb2b";
}
.saxi-twotone-more-circle:before {
	content: "\eb2c";
}
.saxi-twotone-more-square:before {
	content: "\eb2d";
}
.saxi-twotone-more:before {
	content: "\eb2e";
}
.saxi-twotone-mouse-1:before {
	content: "\eb2f";
}
.saxi-twotone-mouse-circle:before {
	content: "\eb30";
}
.saxi-twotone-mouse-square:before {
	content: "\eb31";
}
.saxi-twotone-mouse:before {
	content: "\eb32";
}
.saxi-twotone-music-circle:before {
	content: "\eb33";
}
.saxi-twotone-music-dashboard:before {
	content: "\eb34";
}
.saxi-twotone-music-filter:before {
	content: "\eb35";
}
.saxi-twotone-music-library-2:before {
	content: "\eb36";
}
.saxi-twotone-music-play:before {
	content: "\eb37";
}
.saxi-twotone-music-playlist:before {
	content: "\eb38";
}
.saxi-twotone-music-square-add:before {
	content: "\eb39";
}
.saxi-twotone-music-square-remove:before {
	content: "\eb3a";
}
.saxi-twotone-music-square-search:before {
	content: "\eb3b";
}
.saxi-twotone-music-square:before {
	content: "\eb3c";
}
.saxi-twotone-music:before {
	content: "\eb3d";
}
.saxi-twotone-musicnote:before {
	content: "\eb3e";
}
.saxi-twotone-next:before {
	content: "\eb3f";
}
.saxi-twotone-note-1:before {
	content: "\eb40";
}
.saxi-twotone-note-2:before {
	content: "\eb41";
}
.saxi-twotone-note-21:before {
	content: "\eb42";
}
.saxi-twotone-note-add:before {
	content: "\eb43";
}
.saxi-twotone-note-favorite:before {
	content: "\eb44";
}
.saxi-twotone-note-remove:before {
	content: "\eb45";
}
.saxi-twotone-note-square:before {
	content: "\eb46";
}
.saxi-twotone-note-text:before {
	content: "\eb47";
}
.saxi-twotone-note:before {
	content: "\eb48";
}
.saxi-twotone-notification-1:before {
	content: "\eb49";
}
.saxi-twotone-notification-bing:before {
	content: "\eb4a";
}
.saxi-twotone-notification-circle:before {
	content: "\eb4b";
}
.saxi-twotone-notification-favorite:before {
	content: "\eb4c";
}
.saxi-twotone-notification-status:before {
	content: "\eb4d";
}
.saxi-twotone-notification:before {
	content: "\eb4e";
}
.saxi-twotone-omega-circle:before {
	content: "\eb4f";
}
.saxi-twotone-omega-square:before {
	content: "\eb50";
}
.saxi-twotone-paintbucket:before {
	content: "\eb51";
}
.saxi-twotone-paperclip-2:before {
	content: "\eb52";
}
.saxi-twotone-paperclip:before {
	content: "\eb53";
}
.saxi-twotone-password-check:before {
	content: "\eb54";
}
.saxi-twotone-path-2:before {
	content: "\eb55";
}
.saxi-twotone-path-square:before {
	content: "\eb56";
}
.saxi-twotone-path:before {
	content: "\eb57";
}
.saxi-twotone-pause-circle:before {
	content: "\eb58";
}
.saxi-twotone-pause:before {
	content: "\eb59";
}
.saxi-twotone-pen-add:before {
	content: "\eb5a";
}
.saxi-twotone-pen-close:before {
	content: "\eb5b";
}
.saxi-twotone-pen-remove:before {
	content: "\eb5c";
}
.saxi-twotone-pen-tool-2:before {
	content: "\eb5d";
}
.saxi-twotone-pen-tool:before {
	content: "\eb5e";
}
.saxi-twotone-people:before {
	content: "\eb5f";
}
.saxi-twotone-percentage-circle:before {
	content: "\eb60";
}
.saxi-twotone-percentage-square:before {
	content: "\eb61";
}
.saxi-twotone-personalcard:before {
	content: "\eb62";
}
.saxi-twotone-pet:before {
	content: "\eb63";
}
.saxi-twotone-pharagraphspacing:before {
	content: "\eb64";
}
.saxi-twotone-picture-frame:before {
	content: "\eb65";
}
.saxi-twotone-play-add:before {
	content: "\eb66";
}
.saxi-twotone-play-circle:before {
	content: "\eb67";
}
.saxi-twotone-play-cricle:before {
	content: "\eb68";
}
.saxi-twotone-play-remove:before {
	content: "\eb69";
}
.saxi-twotone-play:before {
	content: "\eb6a";
}
.saxi-twotone-presention-chart:before {
	content: "\eb6b";
}
.saxi-twotone-previous:before {
	content: "\eb6c";
}
.saxi-twotone-printer-slash:before {
	content: "\eb6d";
}
.saxi-twotone-printer:before {
	content: "\eb6e";
}
.saxi-twotone-profile-2user:before {
	content: "\eb6f";
}
.saxi-twotone-profile-add:before {
	content: "\eb70";
}
.saxi-twotone-profile-circle:before {
	content: "\eb71";
}
.saxi-twotone-profile-delete:before {
	content: "\eb72";
}
.saxi-twotone-profile-remove:before {
	content: "\eb73";
}
.saxi-twotone-profile-tick:before {
	content: "\eb74";
}
.saxi-twotone-profile:before {
	content: "\eb75";
}
.saxi-twotone-programming-arrow:before {
	content: "\eb76";
}
.saxi-twotone-programming-arrows:before {
	content: "\eb77";
}
.saxi-twotone-quote-down-circle:before {
	content: "\eb78";
}
.saxi-twotone-quote-down-square:before {
	content: "\eb79";
}
.saxi-twotone-quote-down:before {
	content: "\eb7a";
}
.saxi-twotone-quote-up-circle:before {
	content: "\eb7b";
}
.saxi-twotone-quote-up-square:before {
	content: "\eb7c";
}
.saxi-twotone-quote-up:before {
	content: "\eb7d";
}
.saxi-twotone-radar-1:before {
	content: "\eb7e";
}
.saxi-twotone-radar-2:before {
	content: "\eb7f";
}
.saxi-twotone-radar:before {
	content: "\eb80";
}
.saxi-twotone-radio:before {
	content: "\eb81";
}
.saxi-twotone-ram-2:before {
	content: "\eb82";
}
.saxi-twotone-ram:before {
	content: "\eb83";
}
.saxi-twotone-ranking-1:before {
	content: "\eb84";
}
.saxi-twotone-ranking:before {
	content: "\eb85";
}
.saxi-twotone-receipt-1:before {
	content: "\eb86";
}
.saxi-twotone-receipt-2-1:before {
	content: "\eb87";
}
.saxi-twotone-receipt-2:before {
	content: "\eb88";
}
.saxi-twotone-receipt-add:before {
	content: "\eb89";
}
.saxi-twotone-receipt-discount:before {
	content: "\eb8a";
}
.saxi-twotone-receipt-disscount:before {
	content: "\eb8b";
}
.saxi-twotone-receipt-edit:before {
	content: "\eb8c";
}
.saxi-twotone-receipt-item:before {
	content: "\eb8d";
}
.saxi-twotone-receipt-minus:before {
	content: "\eb8e";
}
.saxi-twotone-receipt-search:before {
	content: "\eb8f";
}
.saxi-twotone-receipt-square:before {
	content: "\eb90";
}
.saxi-twotone-receipt-text:before {
	content: "\eb91";
}
.saxi-twotone-receipt:before {
	content: "\eb92";
}
.saxi-twotone-receive-square-2:before {
	content: "\eb93";
}
.saxi-twotone-receive-square:before {
	content: "\eb94";
}
.saxi-twotone-received:before {
	content: "\eb95";
}
.saxi-twotone-record-circle:before {
	content: "\eb96";
}
.saxi-twotone-record:before {
	content: "\eb97";
}
.saxi-twotone-recovery-convert:before {
	content: "\eb98";
}
.saxi-twotone-redo:before {
	content: "\eb99";
}
.saxi-twotone-refresh-2:before {
	content: "\eb9a";
}
.saxi-twotone-refresh-circle:before {
	content: "\eb9b";
}
.saxi-twotone-refresh-left-square:before {
	content: "\eb9c";
}
.saxi-twotone-refresh-right-square:before {
	content: "\eb9d";
}
.saxi-twotone-refresh-square-2:before {
	content: "\eb9e";
}
.saxi-twotone-refresh:before {
	content: "\eb9f";
}
.saxi-twotone-repeat-circle:before {
	content: "\eba0";
}
.saxi-twotone-repeat:before {
	content: "\eba1";
}
.saxi-twotone-repeate-music:before {
	content: "\eba2";
}
.saxi-twotone-repeate-one:before {
	content: "\eba3";
}
.saxi-twotone-reserve:before {
	content: "\eba4";
}
.saxi-twotone-rotate-left-1:before {
	content: "\eba5";
}
.saxi-twotone-rotate-left:before {
	content: "\eba6";
}
.saxi-twotone-rotate-right-1:before {
	content: "\eba7";
}
.saxi-twotone-rotate-right:before {
	content: "\eba8";
}
.saxi-twotone-route-square:before {
	content: "\eba9";
}
.saxi-twotone-routing-2:before {
	content: "\ebaa";
}
.saxi-twotone-routing:before {
	content: "\ebab";
}
.saxi-twotone-row-horizontal:before {
	content: "\ebac";
}
.saxi-twotone-row-vertical:before {
	content: "\ebad";
}
.saxi-twotone-ruler&amp;pen:before {
	content: "\ebae";
}
.saxi-twotone-ruler:before {
	content: "\ebaf";
}
.saxi-twotone-safe-home:before {
	content: "\ebb0";
}
.saxi-twotone-sagittarius:before {
	content: "\ebb1";
}
.saxi-twotone-save-2:before {
	content: "\ebb2";
}
.saxi-twotone-save-add:before {
	content: "\ebb3";
}
.saxi-twotone-save-minus:before {
	content: "\ebb4";
}
.saxi-twotone-save-remove:before {
	content: "\ebb5";
}
.saxi-twotone-scan-barcode:before {
	content: "\ebb6";
}
.saxi-twotone-scan:before {
	content: "\ebb7";
}
.saxi-twotone-scanner:before {
	content: "\ebb8";
}
.saxi-twotone-scanning:before {
	content: "\ebb9";
}
.saxi-twotone-scissor-1:before {
	content: "\ebba";
}
.saxi-twotone-scissor:before {
	content: "\ebbb";
}
.saxi-twotone-screenmirroring:before {
	content: "\ebbc";
}
.saxi-twotone-scroll:before {
	content: "\ebbd";
}
.saxi-twotone-search-favorite-1:before {
	content: "\ebbe";
}
.saxi-twotone-search-favorite:before {
	content: "\ebbf";
}
.saxi-twotone-search-normal-1:before {
	content: "\ebc0";
}
.saxi-twotone-search-normal:before {
	content: "\ebc1";
}
.saxi-twotone-search-status-1:before {
	content: "\ebc2";
}
.saxi-twotone-search-status:before {
	content: "\ebc3";
}
.saxi-twotone-search-zoom-in-1:before {
	content: "\ebc4";
}
.saxi-twotone-search-zoom-in:before {
	content: "\ebc5";
}
.saxi-twotone-search-zoom-out-1:before {
	content: "\ebc6";
}
.saxi-twotone-search-zoom-out:before {
	content: "\ebc7";
}
.saxi-twotone-security-card:before {
	content: "\ebc8";
}
.saxi-twotone-security-safe:before {
	content: "\ebc9";
}
.saxi-twotone-security-time:before {
	content: "\ebca";
}
.saxi-twotone-security-user:before {
	content: "\ebcb";
}
.saxi-twotone-security:before {
	content: "\ebcc";
}
.saxi-twotone-send-1:before {
	content: "\ebcd";
}
.saxi-twotone-send-2:before {
	content: "\ebce";
}
.saxi-twotone-send-sqaure-2:before {
	content: "\ebcf";
}
.saxi-twotone-send-square:before {
	content: "\ebd0";
}
.saxi-twotone-send:before {
	content: "\ebd1";
}
.saxi-twotone-setting-2:before {
	content: "\ebd2";
}
.saxi-twotone-setting-3:before {
	content: "\ebd3";
}
.saxi-twotone-setting-4:before {
	content: "\ebd4";
}
.saxi-twotone-setting-5:before {
	content: "\ebd5";
}
.saxi-twotone-setting:before {
	content: "\ebd6";
}
.saxi-twotone-settings:before {
	content: "\ebd7";
}
.saxi-twotone-shapes-1:before {
	content: "\ebd8";
}
.saxi-twotone-shapes:before {
	content: "\ebd9";
}
.saxi-twotone-share:before {
	content: "\ebda";
}
.saxi-twotone-shield-cross:before {
	content: "\ebdb";
}
.saxi-twotone-shield-search:before {
	content: "\ebdc";
}
.saxi-twotone-shield-security:before {
	content: "\ebdd";
}
.saxi-twotone-shield-slash:before {
	content: "\ebde";
}
.saxi-twotone-shield-tick:before {
	content: "\ebdf";
}
.saxi-twotone-shield:before {
	content: "\ebe0";
}
.saxi-twotone-ship:before {
	content: "\ebe1";
}
.saxi-twotone-shop-add:before {
	content: "\ebe2";
}
.saxi-twotone-shop-remove:before {
	content: "\ebe3";
}
.saxi-twotone-shop:before {
	content: "\ebe4";
}
.saxi-twotone-shopping-bag:before {
	content: "\ebe5";
}
.saxi-twotone-shopping-cart:before {
	content: "\ebe6";
}
.saxi-twotone-shuffle:before {
	content: "\ebe7";
}
.saxi-twotone-sidebar-bottom:before {
	content: "\ebe8";
}
.saxi-twotone-sidebar-left:before {
	content: "\ebe9";
}
.saxi-twotone-sidebar-right:before {
	content: "\ebea";
}
.saxi-twotone-sidebar-top:before {
	content: "\ebeb";
}
.saxi-twotone-signpost:before {
	content: "\ebec";
}
.saxi-twotone-simcard-1:before {
	content: "\ebed";
}
.saxi-twotone-simcard-2:before {
	content: "\ebee";
}
.saxi-twotone-simcard:before {
	content: "\ebef";
}
.saxi-twotone-size:before {
	content: "\ebf0";
}
.saxi-twotone-slash:before {
	content: "\ebf1";
}
.saxi-twotone-slider-horizontal-1:before {
	content: "\ebf2";
}
.saxi-twotone-slider-horizontal:before {
	content: "\ebf3";
}
.saxi-twotone-slider-vertical-1:before {
	content: "\ebf4";
}
.saxi-twotone-slider-vertical:before {
	content: "\ebf5";
}
.saxi-twotone-slider:before {
	content: "\ebf6";
}
.saxi-twotone-smallcaps:before {
	content: "\ebf7";
}
.saxi-twotone-smart-car:before {
	content: "\ebf8";
}
.saxi-twotone-smart-home:before {
	content: "\ebf9";
}
.saxi-twotone-smileys:before {
	content: "\ebfa";
}
.saxi-twotone-sms-edit:before {
	content: "\ebfb";
}
.saxi-twotone-sms-notification:before {
	content: "\ebfc";
}
.saxi-twotone-sms-search:before {
	content: "\ebfd";
}
.saxi-twotone-sms-star:before {
	content: "\ebfe";
}
.saxi-twotone-sms-tracking:before {
	content: "\ebff";
}
.saxi-twotone-sms:before {
	content: "\ec00";
}
.saxi-twotone-sort:before {
	content: "\ec01";
}
.saxi-twotone-sound:before {
	content: "\ec02";
}
.saxi-twotone-speaker:before {
	content: "\ec03";
}
.saxi-twotone-speedometer:before {
	content: "\ec04";
}
.saxi-twotone-star-1:before {
	content: "\ec05";
}
.saxi-twotone-star-slash:before {
	content: "\ec06";
}
.saxi-twotone-star:before {
	content: "\ec07";
}
.saxi-twotone-status-up:before {
	content: "\ec08";
}
.saxi-twotone-status:before {
	content: "\ec09";
}
.saxi-twotone-sticker:before {
	content: "\ec0a";
}
.saxi-twotone-stickynote:before {
	content: "\ec0b";
}
.saxi-twotone-stop-circle:before {
	content: "\ec0c";
}
.saxi-twotone-stop:before {
	content: "\ec0d";
}
.saxi-twotone-story:before {
	content: "\ec0e";
}
.saxi-twotone-strongbox-2:before {
	content: "\ec0f";
}
.saxi-twotone-strongbox:before {
	content: "\ec10";
}
.saxi-twotone-subtitle:before {
	content: "\ec11";
}
.saxi-twotone-sun-1:before {
	content: "\ec12";
}
.saxi-twotone-sun-fog:before {
	content: "\ec13";
}
.saxi-twotone-sun:before {
	content: "\ec14";
}
.saxi-twotone-tag-2:before {
	content: "\ec15";
}
.saxi-twotone-tag-cross:before {
	content: "\ec16";
}
.saxi-twotone-tag-right:before {
	content: "\ec17";
}
.saxi-twotone-tag-user:before {
	content: "\ec18";
}
.saxi-twotone-tag:before {
	content: "\ec19";
}
.saxi-twotone-task-square:before {
	content: "\ec1a";
}
.saxi-twotone-task:before {
	content: "\ec1b";
}
.saxi-twotone-teacher:before {
	content: "\ec1c";
}
.saxi-twotone-text-block:before {
	content: "\ec1d";
}
.saxi-twotone-text-bold:before {
	content: "\ec1e";
}
.saxi-twotone-text-italic:before {
	content: "\ec1f";
}
.saxi-twotone-text-underline:before {
	content: "\ec20";
}
.saxi-twotone-text:before {
	content: "\ec21";
}
.saxi-twotone-textalign-center:before {
	content: "\ec22";
}
.saxi-twotone-textalign-justifycenter:before {
	content: "\ec23";
}
.saxi-twotone-textalign-justifyleft:before {
	content: "\ec24";
}
.saxi-twotone-textalign-justifyright:before {
	content: "\ec25";
}
.saxi-twotone-textalign-left:before {
	content: "\ec26";
}
.saxi-twotone-textalign-right:before {
	content: "\ec27";
}
.saxi-twotone-tick-circle:before {
	content: "\ec28";
}
.saxi-twotone-tick-square:before {
	content: "\ec29";
}
.saxi-twotone-ticket-2:before {
	content: "\ec2a";
}
.saxi-twotone-ticket-discount:before {
	content: "\ec2b";
}
.saxi-twotone-ticket-expired:before {
	content: "\ec2c";
}
.saxi-twotone-ticket-star:before {
	content: "\ec2d";
}
.saxi-twotone-ticket:before {
	content: "\ec2e";
}
.saxi-twotone-timer-1:before {
	content: "\ec2f";
}
.saxi-twotone-timer-pause:before {
	content: "\ec30";
}
.saxi-twotone-timer-start:before {
	content: "\ec31";
}
.saxi-twotone-timer:before {
	content: "\ec32";
}
.saxi-twotone-toggle-off-circle:before {
	content: "\ec33";
}
.saxi-twotone-toggle-off:before {
	content: "\ec34";
}
.saxi-twotone-toggle-on-circle:before {
	content: "\ec35";
}
.saxi-twotone-toggle-on:before {
	content: "\ec36";
}
.saxi-twotone-trade:before {
	content: "\ec37";
}
.saxi-twotone-transaction-minus:before {
	content: "\ec38";
}
.saxi-twotone-translate:before {
	content: "\ec39";
}
.saxi-twotone-trash:before {
	content: "\ec3a";
}
.saxi-twotone-tree:before {
	content: "\ec3b";
}
.saxi-twotone-trend-down:before {
	content: "\ec3c";
}
.saxi-twotone-trend-up:before {
	content: "\ec3d";
}
.saxi-twotone-triangle:before {
	content: "\ec3e";
}
.saxi-twotone-truck-fast:before {
	content: "\ec3f";
}
.saxi-twotone-truck-tick:before {
	content: "\ec40";
}
.saxi-twotone-truck:before {
	content: "\ec41";
}
.saxi-twotone-trush-square:before {
	content: "\ec42";
}
.saxi-twotone-undo:before {
	content: "\ec43";
}
.saxi-twotone-unlimited:before {
	content: "\ec44";
}
.saxi-twotone-unlock:before {
	content: "\ec45";
}
.saxi-twotone-user-add:before {
	content: "\ec46";
}
.saxi-twotone-user-cirlce-add:before {
	content: "\ec47";
}
.saxi-twotone-user-edit:before {
	content: "\ec48";
}
.saxi-twotone-user-minus:before {
	content: "\ec49";
}
.saxi-twotone-user-octagon:before {
	content: "\ec4a";
}
.saxi-twotone-user-remove:before {
	content: "\ec4b";
}
.saxi-twotone-user-search:before {
	content: "\ec4c";
}
.saxi-twotone-user-square:before {
	content: "\ec4d";
}
.saxi-twotone-user-tag:before {
	content: "\ec4e";
}
.saxi-twotone-user-tick:before {
	content: "\ec4f";
}
.saxi-twotone-user:before {
	content: "\ec50";
}
.saxi-twotone-verify:before {
	content: "\ec51";
}
.saxi-twotone-video-add:before {
	content: "\ec52";
}
.saxi-twotone-video-circle:before {
	content: "\ec53";
}
.saxi-twotone-video-horizontal:before {
	content: "\ec54";
}
.saxi-twotone-video-octagon:before {
	content: "\ec55";
}
.saxi-twotone-video-play:before {
	content: "\ec56";
}
.saxi-twotone-video-remove:before {
	content: "\ec57";
}
.saxi-twotone-video-slash:before {
	content: "\ec58";
}
.saxi-twotone-video-square:before {
	content: "\ec59";
}
.saxi-twotone-video-tick:before {
	content: "\ec5a";
}
.saxi-twotone-video-time:before {
	content: "\ec5b";
}
.saxi-twotone-video-vertical:before {
	content: "\ec5c";
}
.saxi-twotone-video:before {
	content: "\ec5d";
}
.saxi-twotone-voice-cricle:before {
	content: "\ec5e";
}
.saxi-twotone-voice-square:before {
	content: "\ec5f";
}
.saxi-twotone-volume-cross:before {
	content: "\ec60";
}
.saxi-twotone-volume-high:before {
	content: "\ec61";
}
.saxi-twotone-volume-low-1:before {
	content: "\ec62";
}
.saxi-twotone-volume-low:before {
	content: "\ec63";
}
.saxi-twotone-volume-mute:before {
	content: "\ec64";
}
.saxi-twotone-volume-slash:before {
	content: "\ec65";
}
.saxi-twotone-volume-up:before {
	content: "\ec66";
}
.saxi-twotone-volume:before {
	content: "\ec67";
}
.saxi-twotone-wallet-1:before {
	content: "\ec68";
}
.saxi-twotone-wallet-2:before {
	content: "\ec69";
}
.saxi-twotone-wallet-3:before {
	content: "\ec6a";
}
.saxi-twotone-wallet-add-1:before {
	content: "\ec6b";
}
.saxi-twotone-wallet-add-2:before {
	content: "\ec6c";
}
.saxi-twotone-wallet-add:before {
	content: "\ec6d";
}
.saxi-twotone-wallet-check:before {
	content: "\ec6e";
}
.saxi-twotone-wallet-minus:before {
	content: "\ec6f";
}
.saxi-twotone-wallet-money:before {
	content: "\ec70";
}
.saxi-twotone-wallet-remove:before {
	content: "\ec71";
}
.saxi-twotone-wallet-search:before {
	content: "\ec72";
}
.saxi-twotone-wallet:before {
	content: "\ec73";
}
.saxi-twotone-warning-2:before {
	content: "\ec74";
}
.saxi-twotone-watch-status:before {
	content: "\ec75";
}
.saxi-twotone-watch:before {
	content: "\ec76";
}
.saxi-twotone-weight-1:before {
	content: "\ec77";
}
.saxi-twotone-weight:before {
	content: "\ec78";
}
.saxi-twotone-wifi-square:before {
	content: "\ec79";
}
.saxi-twotone-wifi:before {
	content: "\ec7a";
}
.saxi-twotone-wind-2:before {
	content: "\ec7b";
}
.saxi-twotone-wind:before {
	content: "\ec7c";
}
.saxi-twotone-woman:before {
	content: "\ec7d";
}
.saxi-twotone-archive-2:before {
	content: "\ec7e";
}
.saxi-twotone-arrow-circle-up:before {
	content: "\ec7f";
}
.saxi-twotone-arrow-swap:before {
	content: "\ec80";
}
.saxi-twotone-devices-1:before {
	content: "\ec81";
}
.saxi-twotone-discover-1:before {
	content: "\ec82";
}
.saxi-twotone-document-normal:before {
	content: "\ec83";
}
.saxi-twotone-empty-wallet-change:before {
	content: "\ec84";
}
.saxi-twotone-empty-wallet-time:before {
	content: "\ec85";
}
.saxi-twotone-gas-station:before {
	content: "\ec86";
}
.saxi-twotone-group-1:before {
	content: "\ec87";
}
.saxi-twotone-group:before {
	content: "\ec88";
}
.saxi-twotone-truck-remove:before {
	content: "\ec89";
}
.saxi-twotone-truck-time:before {
	content: "\ec8a";
}
